/* colors */

* {
  al:    #00000000;
  bg:    #1F1F1FFF;
  bg1:   #00968855;
  bg2:   #00796BFF;
  bg3:   #0A8B7E55;
  bg4:   #0A8B7E55;
  fg:    #FFFFFFFF;
  ac:   #00796BFF;
}

/*
0(-1)1213
* {
  al:   #00000000;
  bg:   #1F1F1FFF;
  bga:  #00968855;
  bar:  #FFFFFFFF;
  fg:   #FFFFFFFF;
  ac:   #00796BFF;
}
*/
