* {
    all: unset;
}

window {
    // color: #88B9C4;
    color: #FFEE79;
    font-family: "Inter";
}

 .misc, .player, .profile, .date, {
    // background-color: #4d4f68;
    background-color: #121212;

    border-radius: 10px;
    border: 1px solid #005577;
}


.pfp {
    background-image: url("/home/rediet/.config/eww/images/profile.png");
    background-size: 72px;

    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 22px;
    margin-right: 82px;

    border-radius: 50px;
}

.username {
    margin-top: -5px;
    margin-right: 110px;

    font-size: 20px;
    font-weight: 900;
}


.time {
    margin: 15px 65px -20px 85px;
    font-size: 50px;
}

.semicolon {
    margin: 0px;
    margin-top: -5px;
    margin-right: 20px;
}

.minute {
    margin-left: -40px;
}

.day {
    margin-top: 25px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: bold;
    // color: #FC2929;
}

.song-data {
    font-size: 12px;
    font-weight: bold;

    margin: 20px 0px 0px -75px;
}

.song-title {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;

    padding-right: 30px;
}

.song-artist {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;

    padding-right: 30px;
}

.player-btn {
    padding: 20px 25px 5px;
    font-size: 12px;

    margin-top: -5px;
}

.player-btn button {
    color: #EBEEF0;

    font-family: "Material Icons";
    font-size: 16px;

    padding-right: 30px;
}

.player-btn button:hover {
    color: grey;
}

.player-btn pause-play button  {
    font-size: 16px;
}

.song-art {
    background-size: 80px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 13px;
    margin-right: 85px;

    border-radius: 6px;
}

.media-player {
    font-size: 10px;
    font-weight: 500;

    margin-top: 5px;
    margin-right: 70px;
}

.vol-slider scale trough highlight {
    all: unset;
    background-color: #2196F3;
    color: #000000;
    border-radius: 10px;
}

.label-vol-slider {
    color: #2196F3;
    font-size: 25px;

    margin-top: 0px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.vol-slider trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 5px;
    min-width: 250px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 8px;
}


.sys-btns {
    font-size: 25px;
}

.shutdown-btn ~ button:hover {
  color: #D35D6E;
}
.shutdown-btn{
  color: #D35D6E;
}
.shutdown-btn:hover{
  color: #ffd5cd;
}
.reboot-btn{
  color: #84afdb;
}
.lock-btn{
  color: #ffd5cd;
}
.suspend-btn{
  color: #c47eb7;
}
