* {
    all: unset;
}

window {
    color: #88B9C4;
    font-family: "Inter";
}

.background {
    background-color: #4d4f68;
}

 .background, .player, .profile, .date, {
    // background-color: #4d4f68;
    background-color: #282936;

    border-radius: 0px;
    border: 1px solid #BDBDBD;
}

.profile {
    background-color: #282936;
}

.titlebar {
    color: #AAC9CE;
    font-size: 20px;
    font-weight: bolder;

    margin-top: -685px;
    margin-left: -20px;
}

.pfp {
    background-image: url("/home/rediet/.config/eww/images/profile.png");
    background-size: 75px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 19px;
    margin-right: 85px;

    border-radius: 50px;
}

.username {
    margin-top: -5px;
    margin-right: 100px;

    color: #AAC9CE;
    font-size: 20px;
    font-weight: 900;
}


.time {
    margin: 15px 65px -20px 85px;
    font-size: 50px;
}

.semicolon {
    margin: 0px;
    margin-top: -5px;
    margin-right: 20px;
    color: #A0C3CA;
}

.minute {
    margin-left: -40px;
}

.day {
    margin-top: 25px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: bold;
    color: #A0A2A2;
}

.song-data {
    font-size: 12px;
    font-weight: bold;

    margin: 20px 0px 0px -75px;
}

.song-title {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;

    padding-right: 30px;
}

.song-artist {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;

    padding-right: 30px;
}

.player-btn {
    padding: 20px 25px 5px;
    font-size: 12px;

    margin-top: -5px;
}

.player-btn button {
    color: #EBEEF0;

    font-family: "Material Icons";
    font-size: 16px;

    padding-right: 30px;
}

.player-btn button:hover {
    color: grey;
}

.player-btn pause-play button  {
    font-size: 16px;
}

.song-art {
    background-size: 79px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 13px;
    margin-right: 85px;

    border-radius: 6px;
}

.media-player {
    font-size: 10px;
    font-weight: 500;

    margin-top: 5px;
    margin-right: 70px;
}
